:root {
    --text-color-dark: #403F3D;
    --text-color-light: #E1D4C9;
    --text-color-accent: #B0907A;
    --background-color-body: #E1D4C9;
    --background-color-container: #665F55;
    --background-color-backdrop: rgba(64, 63, 61, 0.8);
    --border-color-light: #C1B6AD;
    --border-color-dark: #665F55;

    --font-size-small: 10px;
    --font-size-normal: 16px;
    --font-size-subtitle: 24px;
    --font-size-title: 60px;
    --font-size-h1: 72px;

    --margin-between-content: 40px;
    --margin-between-sections: 100px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-weight: 600;
    color: var(--text-color-dark);
    background-color: var(--background-color-body);
}

h2 {
    padding: 0;
    margin: 0;
    line-height: 125%;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color-dark);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.title {
    font-size: var(--font-size-title);
}

.title__accent {
    color: var(--text-color-accent);
    font-style: italic;
}

.text {
    font-weight: 400;
    line-height: 150%;
}

.name {
    font-size: var(--font-size-subtitle);
    line-height: 125%;
}

.price {
    font-size: var(--font-size-subtitle);
    font-weight: 600;
    line-height: 125%;
}

.button {
    display: inline-block;
    border-radius: 100px;
    background-color: var(--background-color-body);
}
.button-primary {
    position: relative;
    padding: 20px 78px;
}

.button-primary > p {
    transition: all ease 0.5s;
}

.button-primary::before {
    content: "";
    background-image: url(../assets/icons/coffee-cup.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(0, -57%);
    right: 60px;

    visibility: hidden;
    opacity: 0;

    transition: all ease 0.5s;
}

.button-primary:hover::before {
    visibility: visible;
    opacity: 1;
    transition: all ease 0.5s;
}

.button-primary:hover > p{
    transform: translate(-10px, 0);
    transition: all ease 0.5s;
}