.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav__list {
    display: flex;
    margin: 0 0 6px 30px;
}

.nav__item {
    position: relative;
    margin: 0 40px 0 0;
}

.nav__item::before,
.header__menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: var(--text-color-dark);
    transition: all ease 0.5s;
}

.nav__item:hover::before,
.header__menu:hover::before {
    width: 100%;
    left: 0;
    transition: all ease 0.5s;
}

.header__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72px;
    cursor: pointer;
}

.header__menu svg {
    margin: 0 0 3px 0;
}

/* .header__menu::after {
    content: "";
    background-image: url(../assets/icons/coffee-cup.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    right: -28px;
} */
