@import url(../../styles/normalize.css);
@import url(../../styles/common.css);
@import url(../../styles/header.css);
@import url(../../styles/footer.css);

.enjoy,
.favorite,
.about,
.mobile {
    margin: 0 0 var(--margin-between-sections) 0;
}

.enjoy__container {
    background-image: url(../../assets/images/coffee-background.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px;
    border-radius: 40px;
}

.enjoy__body {
    max-width: 530px;
}
.enjoy__title {
    font-size: var(--font-size-h1);
    line-height: 105%;
    color: var(--text-color-light);
    margin: 0 0 var(--margin-between-content) 0;
}

.enjoy__text {
    margin: 0 0 var(--margin-between-content) 0;
    color: var(--text-color-light);
}

.favorite__title {
    margin: 0 0 40px 0;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.favorite__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 var(--margin-between-content) 0;
}

.slider__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    transition: all ease 0.5s;
}

.slider__button svg path{
    stroke: var(--border-color-dark);
    transition: all ease 0.5s;
}

.slider__slide {
    max-width: 480px;
    text-align: center;
}

.slide__img {
    width: 100%;
    margin: 0 0 20px 0;
}

.slide__img img {
    width: 100%;
    object-fit: cover;
}
.slide__name,
.slide__text {
    margin: 0 0 16px 0;
}

.slider__controls {
    display: flex;
    width: 100%;
    justify-content: center;
}
.slider__control {
    width: 40px;
    height: 4px;
    background-color: var(--border-color-light);
    border-radius: 100px;
    margin:  0 12px 0 0;
}

.slider__control.active {
    background-color: var(--border-color-dark);
}

.slider__control:last-child {
    margin: 0;
}

.about__title {
    margin: 0 0 var(--margin-between-content) 0;
}

.about__pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.about__pictures_col1,
.about__pictures_col2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__img {
    position: relative;
    overflow: hidden;
    /* width: 50%; */
    border-radius: 20px;
}

.about__img_big {
    height: 590px;
}
.about__img_small {
    height: 430px;
}

.about__img img {
    position: absolute;
    transform: scale(110%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 1s;
}

.mobile__container {
    display: flex;
    justify-content: space-between;
}

.mobile__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 630px;
}
.mobile__title,
.mobile__text {
    margin: 0 0 var(--margin-between-content) 0;
}

.mobile__button {
    margin: 0 17px 0 0;
}

.mobile__button:last-child {
    margin: 0;
}


@media (max-width: 1230px) {
    .mobile__container {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .mobile__body {
        max-width: 100%;
    }

    .mobile__title,
    .mobile__text {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .enjoy__container {
       padding: 100px 60px;
    }

    .mobile__title,
    .mobile__text {
        text-align: left;
    }

    .about__img_small {
        display: none;
    }

    .about__pictures {
        grid-template-columns: 1fr;
    }

    .about__img img {
        transform: scale(105%);
    }
}

@media (max-width: 692px) {
    .slider__button {
        display: none;
    }

    .favorite__slider {
        justify-content: center;
    }

    .mobile__img {
        width: 100%;
    }

    .mobile__img img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 546px) {
    .enjoy__container {
       padding: 60px 16px;
    }
}

@media (max-width: 453px) {
    .enjoy__title {
        line-height: 115%
    }

    .mobile__container {
        gap: 40px;
    }

    .mobile__buttons {
        display: flex;
        flex-direction: column;
    }

    .mobile__button {
        margin: 0 0 20px 0;
    }

    .mobile__button:last-child {
        margin: 0;
    }

    .about__img img {
        transform: scale(125%);
    }
} 

@media (hover: hover) {
    .slider__button:hover svg path{
        stroke: var(--background-color-body);
        transition: all ease 0.5s;
    }

    .about__img:hover img{
        transform: scale(100%);
        transition: all ease 1s;
    }

    .about__img:hover img {
        transform: scale(97%);
    }
}